*{
  box-sizing: border-box;
}

html, body{
  background-image:  url("classy-fabric.png");
  background-color:  #2fb7e0;
  font-family: 'PT Serif', serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: auto; 
}

#page_header{  
  width: 60%;
  margin: 5% auto;
  text-align: center;  
  font-size: 1.4rem;
}

.quote_body{
  background: white;  
  max-width: 50%;
  margin: 50px auto;
  border-radius: 10px;
  font-weight: bold; 
  box-shadow: -9px 11px 14px 3px #333232; 
  font-family: 'Roboto', sans-serif; 
  letter-spacing: 0.12rem; 
}

.quote{
  line-height: 1.3em;
  margin-top: 40px;
  padding: 30px;
  text-align: center;
  font-size: 1.5rem;
}

.author{
  text-align: right;
  padding: 0 20px 20px 0;
}

.buttons{
  /* padding: 20px;    */
  width: 20%;
  /* min-width: 20%; */
  margin: 0 auto;   
  overflow: auto;
}

button {
  background: #555555;
  color: white;
  font-size: 1.2em;
  border: 3px solid black;
  border-radius: 10px;
  padding: 5px 10px;
  display: inline-block;
  margin: 0 auto;  
}

